@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-gradient {
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.8));
  }
}